<div class="col-6 col-sm-4 my-3">
  <label for="basic-url" class="form-label">Limpiar cache/hora</label>
  <div class="input-group">
    <input
      #hour
      type="number"
      [value]="hourExpired()"
      class="form-control"
      placeholder="Limpiar cache/hora"
    />
    <button
      class="btn btn-outline-primary"
      (click)="setHourExpiredWeather(+hour.value)"
      type="button"
    >
      Guardar
    </button>
  </div>
</div>

<div class="input-group mb-4">
  <input
    #postalCode
    type="number"
    class="form-control"
    placeholder="Buscar ubicación por código postal"
    (keydown.enter)="searchUbicationByPostalCode(+postalCode.value)"
  />
  <button
    class="btn btn-outline-primary"
    (click)="searchUbicationByPostalCode(+postalCode.value)"
    type="button"
  >
    Buscar
  </button>
</div>

@if (ubication()) {
  @if (showAlert()) {
    <div class="alert alert-primary" role="alert">La ubicación ya esta agregada</div>
  }

  <div class="card w-50 mb-5">
    <div class="card-body">
      <h5 class="card-title">Ubicación</h5>
      <h6 class="card-subtitle mb-2 text-body-primary">
        {{ ubication()?.placeName }} - {{ ubication()?.postalcode }}
      </h6>
      <p class="card-text">Latitud: {{ ubication()?.lat }}</p>
      <p class="card-text">Longitud: {{ ubication()?.lng }}</p>
      <div class="d-flex justify-content-end">
        <button class="btn btn-success" (click)="openModal(ubication()!.postalcode)">
          Agregar
        </button>
      </div>
    </div>
  </div>
}

<shared-tabmenu
  [currrentWeatherList]="currentWeatherList()"
  (weatherActual)="weatherActual($event)"
>
  @if (this.currentWeather()) {
    <div tab-content class="mt-5 d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <img [src]="'assets/weather/' + this.currentWeather()?.weather?.icon + '.png'" />
          </div>
          <h5 class="card-title">
            Condiciones actuales {{ this.currentWeather()?.weather?.description }}
          </h5>
        </div>
        <ul class="list-group-flush">
          <li class="list-group-item">
            Código del estado: {{ this.currentWeather()?.postalCode }}
          </li>
          <li class="list-group-item">Temperatura: {{ this.currentWeather()?.temp }}</li>
          <li class="list-group-item">Sensación terminca: {{ this.currentWeather()?.rh }}</li>
          <li class="list-group-item">Amancer: {{ this.currentWeather()?.sunrise }}</li>
          <li class="list-group-item">Puesta de sol: {{ this.currentWeather()?.sunset }}</li>
          <li class="list-group-item">
            Latitud: {{ this.currentWeather()?.lat }} , Longitud:
            {{ this.currentWeather()?.lon }}
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link" (click)="redirectToForecast()" style="cursor: pointer"
            >Mostrar pronostico de los proximos 5 dias</a
          >
        </div>
      </div>
    </div>
  }
</shared-tabmenu>

<shared-modal
  #addModal
  [dataModal]="dataModalAdd"
  (eventConfirm)="addUbication(ubication()!.postalcode)"
></shared-modal>

<shared-modal #alertModal [dataModal]="infoAlertModal()!"></shared-modal>
